[Unit]
Description = PrintPupper joystick service
After = bluetooth.target multi-user.target

[Service]
ExecStartPre = sleep 5
ExecStart = sudo /usr/bin/python3 /home/pi/PrintPupper/src/PupperCommand/joystick.py
RestartSec = 2
KillSignal = 2
TimeoutStopSec = 5
Restart = always

[Install]
WantedBy=multi-user.target
