[Unit]
Description = PrintPupper robot control service
After = joystick.service multi-user.target

[Service]
ExecStartPre = sleep 1
ExecStartPre = sudo pigpiod
ExecStart = /usr/bin/python3 /home/pi/PrintPupper/src/run_robot.py
RestartSec = 2
KillSignal = 2
TimeoutStopSec = 5
Restart = always

[Install]
WantedBy=multi-user.target
