[Unit]
Description=Robot control service
Requires=joystick.service
After=joystick.service

[Service]
ExecStartPre=sleep 1
ExecStartPre=sudo pigpiod
ExecStart=sudo /usr/bin/python3 /home/pi/PrintPupper/src/run_robot.py
KillSignal=2
TimeoutStopSec=10

[Install]
WantedBy=multi-user.target
