[Unit]
Description=Pupper Joystick service
After=bluetooth.target network-online.target

[Service]
ExecStartPre=sleep 1
ExecStart=sudo /usr/bin/python3 /home/pi/PrintPupper/src/PupperCommand/joystick.py
Restart=always
RestartSec=5
KillSignal=2
TimeoutStopSec=10
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
